.blackPawn {
    font-weight: bold;

}

.blackpawn {
    font-weight: bold;
}

.blackQueen {
    font-weight: bold;

}

.blackKing {
    font-weight: bold;

}

.blackKnight {
    font-weight: bold;

}

.blackBishop {
    font-weight: bold;

}

.blackRook {
    font-weight: bold;

}

.whitePawn {
    font-weight: lighter;
}

.whiteRook {
    font-weight: lighter;
}

.whiteKnight {
    font-weight: lighter;
}

.whiteKing {
    font-weight: lighter;
}

.whiteQueen {
    font-weight: lighter;
}

.empty {
    font-weight: bold;
}

.chessBoard {
    border: 1px solid;
    background-color: antiquewhite;

}

.supp {
    border: 0;
    text-align: center;
    background-color: white;
}

th,
td {
    border: 1px solid;
    font-size: 32px;
    width: 70px;
    height: 70px;
}

/*---------------------------------- STILE ----------------------------------*/

html,
body {
    height: 100%;
}

[data-theme="mytheme"] .btn {
    background-color: #C4DEA4;
    border-color: #F6F6DB;
    color: #7B6B50;
    font-size: 150%;
}

[data-theme="mytheme"] label {
    color: #7B6B50;
    color: #7B6B50;
    font-size: 160%;
    font-weight: bold;
    margin-left: 25px;
}

.btn-group>input[type=radio]:checked.btn,
.btn-group>.btn-active {
    background-color: #7A8965;
    border-color: #F6F6DB;
}

div.header {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 10px 10px #7B6B50;
}

div.body-color {
    height: 100%;
}

div.components {
    padding: 5%;
}

div.btn-group {
    margin-bottom: 12%;
    margin-left: 25px;
    margin-right: 25px;
}

button.btn {
    display: block;
    margin: 0 auto;
}

#btn-play {
    background-color: #8c1c13;
    color: #F6F6DB;
}